.setWidth {
    width: 100%;
    overflow: hidden;
    background-image: url('../../static/images/hero_pizza.jpg');
    /* background-image: element('/src/static/images/hero_pizza.jpg'); */
    background-color: #cccccc;
    /* You must set a specified height */
    background-position: top;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-color: black;
    height: 888px;
}

.margins-top {
    margin-top: 76px;
}

.section2-col {
    text-align: center;
}

.section4-end {
    margin-bottom: 3vw;
}

.section3-col {
    text-align: center;
    color: #1E3282;
}

.s2-col-title {
    text-align: center;
    font-size: 1.5em;
    color: #1E3282;
}

.s3-col-title {
    text-align: center;
    font-size: 1.2em;
    color: #1E3282;
}

.s2-col-content {
    text-align: center;
    color: #1E3282;
}

body>button {
    color: #fff;
    font-family: Sans-serif;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.button-margin {
    font-size: 1.5em;
}

.button-element {
    font-size: 1em;
}

.overlay-text {
    width: 75%;
    left: 12.3vw;
    top: -12vw;
    background: #ffffff;
    position: relative;
    text-align: center;
    height: 25%;
    z-index: 3;
    padding: 15px;
    border-radius: .7em;
}

.img-class {
    height: 888px;
    /* You must set a specified height */
    width: 100%;
    text-align: center;
}

.large-text {
    font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3.0vw;
    text-align: center;
    color: #1E3282;
}

.medium-text {
    font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2vw;
    text-align: center;
    color: #1E3282;
}

.vertical-adjust {
    text-align: center;
    margin-top: -1%;
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.25rem;
}

.text-xl {
    font-size: 2rem;
}

.hide-me {
    top: -40px
}


/* section-two-margin */

.text-center {
    text-align: center;
}

.text-lightblue {
    color: #86bad8;
}

.text-navy {
    color: #1E3282;
}

.text-olive {
    color: #74c8a3;
}

.text-lime {
    color: #67ffa9;
}

.text-fuchsia {
    color: #f672d8;
}

.button-float {
    margin: 1em 0em;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.justify-content-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.section-two {
    background-color: #EBEFF9;
    height: 400px;
    width: 100%;
}

.section-two-margin {
    background-color: #EBEFF9;
    margin-top: 5%;
    text-align: justify;
}

.section-three-margin {
    margin-top: 5%;
}

.section-three {
    background-color: #ffffff;
    height: 400px;
    width: 100%;
}

.section-four {
    background-color: #EBEFF9;
    height: 400px;
    width: 100%;
    margin-bottom: 8vw;
}

.hidden-element {
    display: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .button-float {
        position: fixed;
        height: 10vh;
        left: 35vw;
        top: 65vw;
        width: 30%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 10s;
        z-index: 9999999;
        text-align: center;
    }
    .section-four {
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 8vw;
    }
}

@media only screen and (min-width: 1300px) {
    .button-float {
        position: fixed;
        height: 10vh;
        left: 60vw;
        top: 43vw;
        width: 30%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 1s;
        z-index: 9999999;
        text-align: center;
    }
    .section-four {
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 8vw;
    }
}

@media only screen and (min-width: 270px) and (max-width: 655px) {
    .button-float {
        position: fixed;
        height: 32vw;
        left: 10vw;
        top: 195vw;
        width: 72%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 1s;
        z-index: 9999999;
        text-align: center;
        padding: 0.5em;
    }
    .button-margin {
        margin-top: 0vh;
    }
    .text-xs {
        font-size: 0.75rem;
    }
    .text-sm {
        font-size: 0.875rem;
    }
    .text-md {
        font-size: 1rem;
    }
    .text-lg {
        font-size: 1.25rem;
    }
    .text-xl {
        font-size: 1.5rem;
    }
    .overlay-text {
        width: 85%;
        left: 5.3vw;
        top: -132vw;
        background: #ffffff;
        position: relative;
        text-align: center;
        height: 17%;
        z-index: 3;
        padding: 0px;
        line-height: 1em;
        border-radius: .7em;
    }
    .img-class {
        height: 600px;
        /* You must set a specified height */
        width: 100%;
        text-align: center;
    }
    .large-text {
        font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 4.5vw;
        text-align: center;
        color: #1E3282;
    }
    .medium-text {
        font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 3.0vw;
        text-align: center;
        color: #1E3282;
    }
    .vertical-adjust {
        text-align: center;
        margin-top: -1%;
    }
    .button-font-small {
        font-size: 0.5em;
        padding: 0.5em;
    }
    .section-two {
        height: 1000px;
        width: 100%;
    }
    .section-two-margin {
        margin-top: 45%;
        text-align: justify;
    }
    .padding-adjust {
        padding: 0em;
    }
    .section-three {
        height: 1000px;
        width: 100%;
    }
    .section-four {
        height: 1000px;
        width: 100%;
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 170vw;
    }
}

@media only screen and (min-width: 350px) and (max-width: 645px) {
    .button-float {
        position: fixed;
        height: 20vw;
        left: 30vw;
        top: 122vw;
        width: 40%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 1s;
        z-index: 9999999;
        text-align: center;
        padding: 0em;
    }
    .section-four {
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 110vw;
    }
    .overlay-text {
        width: 85%;
        left: 5.3vw;
        top: -102vw;
        background: #ffffff;
        position: relative;
        text-align: center;
        height: 17%;
        z-index: 3;
        padding-top: 20px;
        line-height: 1em;
        border-radius: .7em;
    }
    .section-two-margin {
        margin-top: 25%;
        text-align: justify;
    }
    .section-three {
        height: 800px;
        width: 100%;
    }
}

@media only screen and (min-width: 765px) and (max-width: 1025px) {
    .button-float {
        position: fixed;
        height: 8vw;
        left: 32vw;
        top: 125vw;
        width: 35%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 1s;
        z-index: 9999999;
        text-align: center;
    }
    .overlay-text {
        width: 85%;
        left: 5.3vw;
        top: -16vw;
        background: #ffffff;
        position: relative;
        text-align: center;
        height: 17%;
        z-index: 3;
        padding-top: 20px;
        border-radius: .7em;
    }
    .section-four {
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 20vw;
    }
}

@media only screen and (min-width: 370px) and (max-width: 700px) {
    .button-float {
        position: fixed;
        height: 20vw;
        left: 30vw;
        top: 193vw;
        width: 40%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 1s;
        z-index: 9999999;
        text-align: center;
    }
    .section-four {
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 100vw;
    }
}

@media only screen and (min-width: 410px) and (max-width: 750px) {
    .button-float {
        position: fixed;
        height: 20vw;
        left: 30vw;
        top: 155vw;
        width: 40%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 1s;
        z-index: 9999999;
        text-align: center;
    }
    .section-four {
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 100vw;
    }
    .overlay-text {
        width: 85%;
        left: 5.3vw;
        top: -92vw;
        background: #ffffff;
        position: relative;
        text-align: center;
        height: 17%;
        z-index: 3;
        padding-top: 15px;
        line-height: 1.2em;
        border-radius: .7em;
    }
    .section-two-margin {
        margin-top: 25%;
        text-align: justify;
    }
}

@media only screen and (min-width: 530px) and (max-width: 750px) {
    .button-float {
        position: fixed;
        height: 15vw;
        left: 30vw;
        top: 115vw;
        width: 40%;
        font-size: 22px;
        box-shadow: 0px 4px 4px rgba(105, 16, 16, 0.2);
        transition: top 1s;
        z-index: 9999999;
        text-align: center;
    }
    .section-four {
        background-color: #EBEFF9;
        height: 400px;
        width: 100%;
        margin-bottom: 70vw;
    }
    .overlay-text {
        width: 85%;
        left: 5.3vw;
        top: -62vw;
        background: #ffffff;
        position: relative;
        text-align: center;
        height: 17%;
        z-index: 3;
        padding-top: 15px;
        line-height: 1.5em;
        border-radius: .7em;
    }
}