
.setcolorblue{
    color: darkblue 
}
.setcolorgreen{
    color: green
}
.floatright{
    float: right
}
.paddingadjust{
    padding-left: "15%";
    border-style: none
}
.pright{
    padding-right: 15px
}